# OS
.DS_Store
Thumbs.db

# Java
**/*.class
**/out/
hs_err_pid*
replay_pid*

# Gradle
/.gradle/
/.gradle-home/
**/.gradle/
**/build/

# Maven leftovers
/target/
/.m2/

# Local downloaded Gradle distribution (temporary)
/gradle-*-bin.zip
/gradle-*/

# IDE
/.idea/
**/.idea/
/.vscode/
*.iml
**/*.iml
*.ipr
*.iws

# Misc
*.log
